input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
    background-color: #040221;
}

option[default_name] {
    display: none;
}

span {
    margin: 0 0 0 8px;
}

.container {
    max-width: 700px;
    margin: 200px auto;
}

.currency_title {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 0 0 40px 0;
}

.currency_img_btc {
    position: absolute;
    margin: -50px;
}

.btc {
    width: 100px;
    height: 100px;
}

.currency_form {
    border: solid 1px #040930;
    background-color: #040930;
    border-radius: 10px;
    padding: 30px 30px 120px 30px;
    box-shadow: 0 0 25px #fff;
}

.currency_form_body {
    display: flex;
    justify-content: space-between;
}

.currency_input {
    border: none;
    border: solid 1px gray;
    background-color: #040221;
    border-radius: 10px;
    padding: 10px 70px 10px 10px;
    color: #fff;
}

.currency_err {
    color: #FF585F;
    margin: 10px 0 0 5px;
}

.currency_subtitle {
    color: gray;
    font-size: 13px;
    margin: 0 0 7px 10px;
}

.currency_select_from {
    border: none;
    border: solid 1px gray;
    background-color: #040221;
    border-radius: 10px;
    padding: 10px 30px 10px 10px;
    color: #fff;
}

.currency_reverse_btn {
    border: none;
    border: solid 1px gray;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 4px 10px 0 10px;
}

.currency_reverse_btn:hover {
    transition: 1s;
    background-color: #fff;
}

.reverse {
    width: 20px;
    height: 20px;
}

.currency_select_to {
    border: none;
    border: solid 1px gray;
    background-color: #040221;
    border-radius: 10px;
    padding: 10px 30px 10px 10px;
    color: #fff;
}

.currency_convert_btn {
    border: none;
    border: solid 1px #040221;
    background: linear-gradient(97.46deg, #FF585F 3.28%, #FA5897 95.35%);
    border-radius: 10px;
    float: right;
    margin: 30px 0 0 0;
    padding: 10px 25px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.currency_img_eth {
    position: absolute;
    display: flex;
    margin: -50px 0 0 600px;
}

.eth {
    width: 80px;
    height: 80px;
}

.currency_results {
    display: flex;
    margin: 30px 0 0 0;
}

.currency_result {
    border: solid 1px #040221;
    width: 180px;
    background-color: #1e192d;
    border-radius: 10px;
    padding: 5px 15px;
}

.body_text {
    display: flex;
    margin: 0 0 5px 0;
}

.result_title {
    color: #fff;
    margin: 0 10px 0 0;
}

.result_text {
    color: gray;
    font-size: 15px;
}

.result_amount {
    color: #fff;
}

.exactly_sign {
    margin: 10px 15px 0 15px;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    background-color: gray;
    width: 30px;
    height: 32px;
}